<%= form_for(@lease) do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :unit %><br />
    <%= f.collection_select :unit_id, Unit.all.collect, :id, :full_title, :prompt => "Select a unit" %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :rent %><br />
    $ <%= f.number_field :rent %> <i>Whole numbers only!</i>
  </div>
  <div class="field">
    <%= f.label :renters %><br />
    <% for user in User.find(:all) %>
	  <div>
		<%= check_box_tag "lease[renter_ids][]", user.id, @lease.renters.include?(user) %>
		<%= user.username %>
      </div>
    <% end %>
  </div>






  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
